# ================================
# KSeF API
# ================================

KSEF_BASE_URL=https://api.ksef.mf.gov.pl/v2
KSEF_NIP=12345678910
KSEF_TOKEN=Twój_token


# ================================
# Klucze kryptograficzne
# ================================

KSEF_PUBLIC_KEY_PATH=./keys/ksef_public_key.pem
KSEF_SYMMETRIC_KEY_CERT_PATH=./keys/ksef_symmetric_key.pem


# ================================
# Katalogi danych
# ================================

KSEF_DATA_DIR=./data
KSEF_BATCH_DIR=./batches
KSEF_EXPORT_DIR=./exports
KSEF_LOG_DIR=./logs


# ================================
# Generowanie PDF
# ================================

GENERATE_PDF=false
KSEF_PDF_GENERATOR_DIR=./pdf_generator/ksef-pdf-generator
